*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.nav{
    height: 10vh;
    width: 100%;
    background-color: rgb(13, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 16px;
    font-weight: bold;

}
.nav a{
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color: black;
    transition: 0.3s;
}
.form{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.form input{
    height: 40px;
    width: 300px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}
.form button{
    height: 40px;
    width: 100px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}  
.home{
    height: 90vh;
    width: 100%;
    display: flex;

} 
.home .smenu{
    height: 100%;
    width: 20%;
    background-color: #9c9393;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.home .smenu a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 18px;
}
.home .smenu a:hover{
    color: rgb(150, 230, 21);
    transition: 0.3s;
}
.home .main{
    height: 100%;
    width: 80%;
    background-color: #e4e4e4;
    overflow-y: scroll;
    scrollbar-width: none;
}
h2{
    text-align: center;
    width: 100%;
    color: teal;
}
.prodcon{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  
.prod{
    width: 40%;
    background-color: white;
    margin: 20px;
    box-shadow: 0 0 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
} 
.prod img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}
.prod h3{
    color: teal;
    text-align: center;
    text-transform: uppercase;
}
.prod p{
    margin: 5px;
    font-size: 14px;
}
.prod button{
    height: 35px;
    width: 120px;
    margin: 3px ;
    font-size: 14px;
    font-weight: bold;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}
.prod button:hover{
    background-color: rgb(12, 99, 99);
    transition: 0.3s;
}
.prod .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.msgpop{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    z-index: 1000;
}
.cartcon{
    width: 100%;
    margin: auto;
   
}    
.cartitem{
    width: 8    0%;
    background-color: white;
    margin: 20px auto;
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 10px;
}   
.cartitem img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}
.cartitem .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}   
.cartitem .info h3{
    color: teal;
    text-transform: uppercase;
}   
.cartitem .info p{
    margin: 5px;
    font-size: 14px;
}   
.cartitem .info button{
   
    margin: 3px ;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    color:orangered;
    border: none;
    cursor: pointer;
}
.cartitem>button{
    height: 35px;
    width: 120px;
    margin: 3px ;
    font-size: 14px;
    font-weight: bold;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;

}


